body {
    overscroll-behavior-y: contain;
}

#unity-container {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#unity-loading .logo,
#unity-loading .progress {
    width: 140px;
}

#unity-loading .progress {
    height: 6px;
}

#unity-progress-bar {
    background-color: #57585B;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background-color: #EBEDEC;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}